footer.footer 
	.footer__container
		.footer__social.social-footer 
			img(src="@img/footer/logo.svg", alt="logo").social-footer__logo
			ul.social-footer__list
				li.social-footer__item
					a(href="#").social-footer__link
						img(src="@img/footer/youtube.svg", alt="youtube-icon").social-footer__icon
				li.social-footer__item
					a(href="#").social-footer__link
						img(src="@img/footer/ok.svg", alt="ok-icon").social-footer__icon
				li.social-footer__item
					a(href="#").social-footer__link
						img(src="@img/footer/vk.svg", alt="vk-icon").social-footer__icon
		nav.footer__nav
			ul.footer__menu.menu-nav
				li.menu-nav__item
					a(href="").menu-nav__link Подкасты
				li.menu-nav__item
					a(href="").menu-nav__link Передачи
				li.menu-nav__item
					a(href="").menu-nav__link Гости
				li.menu-nav__item
					a(href="").menu-nav__link Плейлисты
				li.menu-nav__item
					a(href="").menu-nav__link Сетка
				li.menu-nav__item
					a(href="").menu-nav__link О нас
				li.menu-nav__item
					a(href="").menu-nav__link Новости
				li.menu-nav__item
					a(href="").menu-nav__link Блоги
				li.menu-nav__item
					a(href="").menu-nav__link Топы
	.footer__img
	span.footer__copy W-WAVE ® 2023
