section.guests
	.guests__container
		h2.guests-content__title Гости
		p.guests-content__desc 
			span У нас бывают:<br>
			| Блогеры, арт-критики и деятели искусства, музыканты, молодые учёные и люди науки, историки, филологи и много других интересных гостей!
		ul.guests-content__list.guests-list
			li.guests-list__item.list-item
				.list-item__poster(style="background-image:url(@img/guests/item-1.jpg)") 
				.list-item__content 
					.list-item__title Ольга Мартынова
					.list-item__text Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
					a(href="#", target="_blank").button.button-violet.list-item__link Эфиры с гостем
			li.guests-list__item.list-item
				.list-item__poster(style="background-image:url(@img/guests/item-2.jpg)")  
				.list-item__content 
					.list-item__title Денис Гришин
					.list-item__text Однозначно, элементы политического процесса являются только методом политического участия и смешаны с не уникальными данными до степени совершённой неузнаваемости, из-за чего возрастает их статус бесполезности.
					a(href="#", target="_blank").button.button-violet.list-item__link Эфиры с гостем
			li.guests-list__item.list-item
				.list-item__poster(style="background-image:url(@img/guests/item-3.jpg)")  
				.list-item__content 
					.list-item__title Ольга Мартынова
					.list-item__text С другой стороны, высококачественный прототип будущего проекта выявляет срочную потребность дальнейших направлений развития. В рамках спецификации современных стандартов, реплицированные с зарубежных источников.
					a(href="#", target="_blank").button.button-violet.list-item__link Эфиры с гостем