header.header
	.header__container
		.header__top
			img(src="@img/logo.svg", alt="w-wave logo").header__logo
			nav.header__menu.menu-nav(data-da=".header__bottom, 1024.98, first")
				ul.menu-nav.menu-nav__list
					li.menu-nav__item
						a(href="").menu-nav__link Подкасты
					li.menu-nav__item
						a(href="").menu-nav__link Передачи
					li.menu-nav__item
						a(href="").menu-nav__link Гости
					li.menu-nav__item
						a(href="").menu-nav__link Плейлисты
					li.menu-nav__item
						a(href="").menu-nav__link О нас
			img(src="@img/search.svg", alt="search").header__search
		.header__bottom
