section.hero 
	.hero__container 
		.hero__content.hero-content 
			h1.hero-content__title 
				b Радио 
				i W-Wave
			p.hero-content__desc Привет, на связи W-Wave! Раньше мы были изданием, а теперь пробуем себя в разоворном жанре. Говорим о музыке, политике, истории, науке и культуре. Здесь, помимо прямого эфира — архив передач и многое другое:)
			button.button.h1.hero-content__button Слушать эфир
		picture
			source(srcset="@img/microphone-1.png", media="(max-width: 1024px)")
			source(srcset="@img/microphone.png")
			img(src="@img/microphone.png", alt="microphone").hero__img