section.playlists
	.playlists__container
		.playlists__content.playlists-content
			h2.playlists-content__title Плейлисты
			p.playlists-content__desc 
				span.playlists-content__text Раздел «Плейлисты» может содержать информацию, не предназначенную для несовершеннолетних
				i.playlists-content__copy © 2021 l W-Wave
				img(src="@img/playlists/18.svg", alt="18+").playlists-content__img
		ul.playlists__list.playlists-list
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-1.jpg)")
					.list-item__country(style="background-image:url(@img/playlists/ru.svg)")
				.list-item__content 
					.list-item__title Ploho
					.list-item__text 3 последних альбома
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-2.jpg)")
					.list-item__country(style="background-image:url(@img/playlists/ru.svg)")
				.list-item__content 
					.list-item__title Molchat Doma
					.list-item__text Все песни
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-3.jpg)")
					.list-item__country(style="background-image:url(@img/playlists/ru.svg)")
				.list-item__content 
					.list-item__title Motorama
					.list-item__text Все синглы
			li.playlists-list__item.list-item 
				.list-item__poster(style="background-image:url(@img/playlists/item-4.jpg)")
					.list-item__country(style="background-image:url(@img/playlists/ru.svg)")
				.list-item__content 
					.list-item__title Human Tetris
					.list-item__text 3 последних альбома
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-5.jpg)") 
					.list-item__country(style="background-image:url(@img/playlists/ru.svg)")
				.list-item__content 
					.list-item__title Буерак
					.list-item__text Все EP
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-6.jpg)") 
					.list-item__country(style="background-image:url(@img/playlists/ru.svg)")
				.list-item__content 
					.list-item__title Июльские Дни
					.list-item__text Альбом «Колокол»
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-7.jpg)") 
					.list-item__country(style="background-image:url(@img/playlists/gb.svg)")
				.list-item__content 
					.list-item__title Joy Division
					.list-item__text Лучшее за всё время
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-8.jpg)") 
					.list-item__country(style="background-image:url(@img/playlists/gb.svg)")
				.list-item__content 
					.list-item__title The Cure
					.list-item__text Лучшее за всё время
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-9.jpg)") 
					.list-item__country(style="background-image:url(@img/playlists/gb.svg)")
				.list-item__content 
					.list-item__title The Smiths
					.list-item__text Период 1984–1988
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-10.jpg)")
					.list-item__country(style="background-image:url(@img/playlists/gb.svg)") 
				.list-item__content 
					.list-item__title New Order
					.list-item__text Хиты
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-11.jpg)") 
					.list-item__country(style="background-image:url(@img/playlists/gb.svg)")
				.list-item__content 
					.list-item__title Bauhaus
					.list-item__text Все синглы
			li.playlists-list__item.list-item
				.list-item__poster(style="background-image:url(@img/playlists/item-12.jpg)") 
					.list-item__country(style="background-image:url(@img/playlists/gb.svg)")
				.list-item__content 
					.list-item__title Gang Of Four
					.list-item__text 3 последних альбома