section.podcasts
	.podcasts__container 
		h2.podcasts__title Подкасты
		ul.podcasts__list.podcasts-list
			li.podcasts-list__item.list-item
				picture
					source(srcset="@img/podcasts/item-1-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/podcasts/item-1.jpg")
					img(src="@img/podcasts/item-1.jpg", alt="Европа. XIX век").list-item__img
				span.list-item__label 14 июня
				.list-item__content
					span.list-item__time 15:43
					h3.list-item__title Европа. XIX век
					span.list-item__author Дмитрий Гутенберг
			li.podcasts-list__item.list-item
				picture
					source(srcset="@img/podcasts/item-2-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/podcasts/item-2.jpg")
					img(src="@img/podcasts/item-2.jpg", alt="О музыке").list-item__img
				span.list-item__label 11 июня
				.list-item__content
					span.list-item__time 5:32
					h3.list-item__title О музыке
					span.list-item__author Дмитрий Гутенберг
			li.podcasts-list__item.list-item
				picture
					source(srcset="@img/podcasts/item-3-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/podcasts/item-3.jpg")
					img(src="@img/podcasts/item-3.jpg", alt="Люди сегодня").list-item__img
				span.list-item__label 8 июня 
				.list-item__content
					span.list-item__time 8:54
					h3.list-item__title Люди сегодня
					span.list-item__author Анна Васильева
			li.podcasts-list__item.list-item
				picture
					source(srcset="@img/podcasts/item-4-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/podcasts/item-4.jpg")
					img(src="@img/podcasts/item-4.jpg", alt="Хэллоу, Африка!").list-item__img
				span.list-item__label 5 июня 
				.list-item__content
					span.list-item__time 9:04
					h3.list-item__title Хэллоу, Африка!
					span.list-item__author Пётр Дмитриевский
			li.podcasts-list__item.list-item
				picture
					source(srcset="@img/podcasts/item-5-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/podcasts/item-5.jpg")
					img(src="@img/podcasts/item-5.jpg", alt="Обо всём").list-item__img
				span.list-item__label 2 июня 
				.list-item__content
					span.list-item__time 7:03
					h3.list-item__title Обо всём
					span.list-item__author Пётр Дмитриевский
			li.podcasts-list__item.list-item
				picture
					source(srcset="@img/podcasts/item-6-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/podcasts/item-6.jpg")
					img(src="@img/podcasts/item-6.jpg", alt="Физика цвета").list-item__img
				span.list-item__label 28 мая
				.list-item__content
					span.list-item__time 9:15
					h3.list-item__title Физика цвета
					span.list-item__author Татьяна Флеганова
			li.podcasts-list__item.list-item
				picture
					source(srcset="@img/podcasts/item-7-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/podcasts/item-7.jpg")
					img(src="@img/podcasts/item-7.jpg", alt="Источник звука").list-item__img
				span.list-item__label 22 мая 
				.list-item__content
					span.list-item__time 16:04
					h3.list-item__title Источник звука
					span.list-item__author Пётр Дмитриевский
			li.podcasts-list__item.list-item
				picture
					source(srcset="@img/podcasts/item-8-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/podcasts/item-8.jpg")
					img(src="@img/podcasts/item-8.jpg", alt="Правила этикета").list-item__img
				span.list-item__label 18 мая
				.list-item__content
					span.list-item__time 6:55
					h3.list-item__title Правила этикета
					span.list-item__author Татьяна Флеганова