section.shows
	.shows__container
		.shows__content.shows-content
			h2.shows-content__title(data-da=".shows__container, 1023.98, last") Передачи
			.shows-content__inner.inner-content
				img(src="@img/shows/mic.png", alt="mic").inner-content__img
				.inner-content__wrap
					a(href="#", target="_blank").button.button-standart.inner-content__button Архив
					p.inner-content__text В архив попадают все передачи, которые вы пропустили! Enjoy:)
		ul.shows__list.shows-list
			li.shows-list__item.list-item
				picture
					source(srcset="@img/shows/item-1-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/shows/item-1.jpg")
					img(src="@img/shows/item-1.jpg", alt="О людях и книгах").list-item__img
				.list-item__desc
					span.list-item__label О людях и книгах
					span.list-item__text Анонсируется отдельно
					a(href="#", target="_blank").list-item__link Подробнее
						svg(width="28", height="12", viewBox="0 0 28 12", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z", fill="#121723").list-item__img
			li.shows-list__item.list-item
				picture
					source(srcset="@img/shows/item-2-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/shows/item-2.jpg")
					img(src="@img/shows/item-2.jpg", alt="О людях и книгах").list-item__img
				.list-item__desc
					span.list-item__label Графомания td
					span.list-item__text По понедельникам в 10:00
					a(href="#", target="_blank").list-item__link Подробнее
						svg(width="28", height="12", viewBox="0 0 28 12", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z", fill="#121723").list-item__img
			li.shows-list__item.list-item
				picture
					source(srcset="@img/shows/item-3-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/shows/item-3.jpg")
					img(src="@img/shows/item-3.jpg", alt="О людях и книгах").list-item__img
				.list-item__desc
					span.list-item__label Не Рим, не Троя 
					span.list-item__text По вторникам в 12:00
					a(href="#", target="_blank").list-item__link Подробнее
						svg(width="28", height="12", viewBox="0 0 28 12", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z", fill="#121723").list-item__img 
			li.shows-list__item.list-item
				picture
					source(srcset="@img/shows/item-4-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/shows/item-4.jpg")
					img(src="@img/shows/item-4.jpg", alt="О людях и книгах").list-item__img
				.list-item__desc
					span.list-item__label Эрудит
					span.list-item__text По пятницам в 17:00
					a(href="#", target="_blank").list-item__link Подробнее
						svg(width="28", height="12", viewBox="0 0 28 12", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z", fill="#121723").list-item__img 
			li.shows-list__item.list-item
				picture
					source(srcset="@img/shows/item-5-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/shows/item-5.jpg")
					img(src="@img/shows/item-5.jpg", alt="О людях и книгах").list-item__img
				.list-item__desc
					span.list-item__label Тонкости эпох 
					span.list-item__text По субботам в 10:00
					a(href="#", target="_blank").list-item__link Подробнее
						svg(width="28", height="12", viewBox="0 0 28 12", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z", fill="#121723").list-item__img 
			li.shows-list__item.list-item
				picture
					source(srcset="@img/shows/item-6-1.jpg", media="(max-width: 320px)")
					source(srcset="@img/shows/item-6.jpg")
					img(src="@img/shows/item-6.jpg", alt="О людях и книгах").list-item__img
				.list-item__desc
					span.list-item__label Живые мысли
					span.list-item__text По воскресеньям в 15:30
					a(href="#", target="_blank").list-item__link Подробнее
						svg(width="28", height="12", viewBox="0 0 28 12", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z", fill="#121723").list-item__img 