.footer {
	position: relative;
	padding-bottom: rem(10);
	background-color: #292E39;
	&__container {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: rem(94) rem(15) rem(93);
		@media (max-width:$tablet){
			padding: rem(94) rem(15);
			max-width: rem(854);
		}
		@media (max-width:$mobile){
			flex-direction: column;
			padding-bottom: rem(79);
			max-width: rem(576);
		}
		@media (max-width:$mobileSmall){
			padding: rem(54) 0 rem(49);
			max-width: rem(256);
		}
	}
	&__social {

	}
	&__nav {
		display: flex;
	}
	// &__img {
	// 	margin-bottom: rem(9);
	// 	width: 100%;
	// 	height: rem(12);
	// 	background-repeat: repeat-x;
	// 	background-image: url("../img/footer/wave.svg");
	// 	background-size: contain;
	// 	background-position: center;
	// 	@media (max-width:$tablet) {
	// 		margin-bottom: rem(10);
	// 		height: rem(12);
	// 		background-image: url("../img/footer/wave-1.svg");
	// 	}
	// 	@media (max-width:$mobile){
	// 		margin-bottom: rem(10);
	// 		background-image: url("../img/footer/wave-2.svg");
	// 	}
	// 	@media (max-width:$mobileSmall){
	// 		margin-top: rem(10);
	// 		margin-bottom: rem(8);
	// 		background-image: url("../img/footer/wave-3.svg");
	// 	}
	// }
	&__bottom {
		background-image: url("../img/footer/wave.svg");
		background-size: contain;
		background-position: top center;
		background-repeat: repeat-x;
		@media (max-width:$tablet) {
			// margin-bottom: rem(10);
			// height: rem(12);
			background-position: center rem(-1); 
			background-image: url("../img/footer/wave-1.svg");
		}
		@media (max-width:$mobile){
			// margin-bottom: rem(10);
			background-image: url("../img/footer/wave-2.svg");
		}
		@media (max-width:$mobileSmall){
			// margin-top: rem(10);
			// margin-bottom: rem(8);
			background-position: center rem(0); 
			background-image: url("../img/footer/wave-3.svg");
		}
	}
	&__copy {
		display: block;
		margin: 0 auto 0;
		padding-top: rem(22);
		font-size: rem(16);
		text-align: center;
		color: #A1A6B4;
		@media (max-width:$tablet){
			padding-top: rem(20);
		}
		@media (max-width:$mobileSmall){
			padding-top: rem(22);
			font-size: rem(12);
		}
	}
	.social-footer {
		@media (max-width:$mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
			align-self: center;
			margin-bottom: rem(78);
		}
		@media (max-width:$mobileSmall){
			margin-bottom: rem(54);
		}
		&__logo {
			margin-bottom: rem(20);
			@media (max-width:$mobile){
				margin-bottom: rem(23);
			}
		}
		&__list {
			display: flex;
			@media (max-width:$mobile){
				align-items: center;
			}
		}
		&__item {
			width: rem(20);
			margin-left: rem(1);
			&:not(:first-child){
				margin-top: rem(-3);
			}
			&:not(:last-child) {
				margin-right: rem(25);
			}
			@media (max-width:$mobile){
				width: rem(30);
				margin-left: 0;
				&:not(:first-child){
					margin-top: 0;
				}
				&:not(:last-child) {
					margin-right: rem(27);
				}
			}
		}
		&__link {
			outline: none;
			@media (any-hover: hover){
				&:hover{
					path {
						fill: #6D31EE;
					}
				}
			}
			&:focus {
				path {
					fill: #AA9DFA;
				}
			}
			&:active {
				path {
					fill: #4F28A5;
				}
			}
			path {
				transition: 0.3s fill ease;
			}

		}
		&__icon {
			max-width: 100%;
		}
	}
	.menu-nav {
		column-count: 3;
		column-gap: rem(109);
		// display: flex;
		// flex-direction: column;
		// flex-wrap: wrap;
		// flex: 1 1 rem(445);
		// justify-content: space-between;
		// width: rem(445);
		max-height: rem(88);
		z-index: 1;
		@media (max-width:$mobile){
			column-gap: rem(154);
			max-height: rem(108); 
		}
		@media (max-width:586px){
			column-count: 2;
			margin: rem(27) 0 rem(38);
			max-height: rem(176);
		@media (max-width:$mobileSmall){
			column-gap: rem(86);
			max-height: rem(156);
			&::before{
				content:'';
				position: absolute;
				bottom: rem(52);
				left: 0;
				width: 200vw;
				height: rem(215);
				background-color: #121723;
				z-index: 0;
			}
		}
		}
		&__item {
			position: relative;
			font-size: rem(16);
			&:nth-child(-n+3) {
				transform: translateX(30px);
			}
			&:nth-last-child(-n+6) {
				transform: translateX(20px);
			}
			&:not(:nth-child(3n)) {
				margin-bottom: rem(20);
			}
			@media (max-width:$mobile){
				&:nth-child(-n+3) {
					transform: translateX(0);
				}
				&:nth-last-child(-n+6) {
					transform: translateX(0);
				}
				&:not(:nth-child(3n)) {
					margin-bottom: rem(30);
				} 
			}
			@media (max-width: $mobileMid){
				&:not(:nth-child(3n)) {
					margin-bottom: rem(20);
				}
				&:not(:nth-child(5)) {
					margin-bottom: rem(24);
				}			
				&:not(:nth-last-child(-n+4)) {
					margin-right: rem(0);
					transform: translateX(0);
				}
			}
			@media (max-width:$mobileSmall){
				font-size: rem(12);
				line-height: rem(12);
			}
		}
		&__link {
			margin: 0 rem(-2);
			padding: rem(2);
			color: #fff;
			transition-duration: 0.3s;
			transition-timing-function: ease;
			transition-property: background-color, color;
			outline: none;
			@media (any-hover: hover){
				&:hover{
					color: #6D31EE;
				}
			}
			&:focus {
				color: #fff;
				background-color: #AA9DFA;
			}
			&:active {
				color: #4F28A5;
			}
		}
	}
}