.guests {
	background-color: #121723;
	&__container {
		padding: rem(95) rem(15) rem(94);
		@media (max-width:$tablet){
			padding: rem(94) rem(15);
			margin: 0 auto;
			max-width: rem(854);
		}
		@media (max-width:$mobile) {
			padding: rem(93) rem(19);
			max-width: rem(576);
		}
		@media (max-width:320px) {
			padding: rem(54) rem(15);
			max-width: rem(286);
		}
	}
	.guests-content {
		&__title {
			margin-bottom: rem(12);
			color: #fff;
			font-size: rem(48);
			@media (max-width:$tablet){
				margin-bottom: rem(10);
			}
			@media (max-width:320px) {
				margin-bottom: rem(12);
				font-size: rem(24);
			}
		}
		&__desc {
			margin-bottom: rem(49);
			max-width: rem(825);
			color: #A1A6B4;
			line-height: 1.6;
			span {
				display: block;
				margin-bottom: rem(8);
				@media (max-width:320px){
					margin-bottom: rem(1);
					font-size: rem(14);
					line-height: 1.5;
				}
			}
			@media (max-width:$tablet){
				max-width: rem(536);
			}
			@media (max-width:320px){
				margin-bottom: rem(26);
				font-size: rem(14);
			}
		}
	}
	.guests-list {
		display: flex;
		flex-wrap: wrap;
		&__item {
			&:not(:last-child) {
				margin-bottom: rem(50);
			}
			@media (max-width:$mobile){
				flex-direction: column;
			}
			@media (max-width:320px){
				&:not(:last-child) {
					margin-bottom: rem(29);
				}
			}
		}
		.list-item {
			display: flex;
			flex: 0 0 100%;
			&__poster {
				flex: 0 0 rem(432);
				height: rem(272);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				@media (min-width:$mobile){
					margin-right: rem(30);
				}
				@media (max-width:$mobile){
					flex: 0 0 auto;
					margin-bottom: rem(31);
					max-width: 100%;
					height: unset;
					max-height: unset;
					aspect-ratio: 540 / 340;
					// max-height: rem(340);
				}
				@media (max-width:320px){
					margin-bottom: rem(12);
					// max-height: rem(159);
				}
			}
			&__content {
				display: flex;
				flex-direction: column;
				max-width: rem(458);
				@media (max-width:$mobile){
					  max-width: rem(362);
				}
			}
			&__title {
				margin-bottom: rem(9);
				color: #fff;
				font-weight: 500;
			}
			&__text {
				margin-bottom: rem(30);
				flex: 1 1 auto;
				align-items: flex-start;
				color: #A1A6B4;
				font-size: rem(16);
				line-height: 1.8;
			}
			&__link {
				align-self: flex-start;
				@media (max-width:320px){
					 padding: rem(7.5) rem(12.5); 
				}
			}
		}
	}
}